.comp-message {
    position: fixed;
    display: flex;
    justify-content: center;
    padding: 0 40px;
    left: 50%;
    top: 50px;
    min-width: 280px;
    background-color: #232323;
    border-radius: 8px;
    z-index: 199;
    color: #FFF;
    transform: translateX(-50%);
    letter-spacing: 1px;
    border: 1.5px solid #FFC800;
    box-shadow: 0 4px 16px 0 rgba(0,0,0,0.18);
    font-size: 1.1rem;
    font-weight: 600;
    cursor: default;

    &.info {
        background-color: #0070DD;
        color: #FFF;
        border-color: #0070DD;
    }
    &.success {
        background-color: #1EFF00;
        color: #181A20;
        border-color: #1EFF00;
    }
    &.error {
        background-color: #FF3333;
        color: #FFF;
        border-color: #FF3333;
    }
}